<%- include('partials/head.ejs') %>

<div class="container-fluid mt-4 mb-5">
    <div class="row">
        <div class="col-lg-3 mb-4">
            <%- include('sidebar') %>
        </div>
        <div class="col-lg-9">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h3>Sửa Danh Mục</h3>
                </div>
                <div class="card-body">
                    <a href="/admin/categories" class="btn btn-link mb-3">&larr; Quay lại danh sách</a>
                    <form action="/admin/categories/edit/<%= category.id %>" method="POST">
                        <div class="mb-3">
                            <label class="form-label">Tên danh mục:</label>
                            <input class="form-control" type="text" name="name" value="<%= category.name %>" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>